body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr; 
    grid-template-rows: auto 1fr auto; 
    gap: 10px; 
    height: 100vh; 
}


.header {
    grid-column: 1 / 3; 
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

.main-content {
    background-color: #eaeaea;
    padding: 20px;
}

.footer {
    grid-column: 1 / 3; 
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}
