body {
    font-family: Arial, sans-serif;
    background-color: #1e2c34;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    
    text-align: center;
}

h1 {
    color: #454d53;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
    
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #2b373c;
    border: 2px solid #445457;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f0;
}

#status-message {
    margin-top: 20px;
    font-size: 1.5em;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}



